#skill{
    color: darkgray;
    text-align: center;
  
}

#skill .container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(1, 1, 20);
    justify-content: center;
    align-items: center;
    gap: 50px 20px;
    overflow: hidden;
    
}

.skill h1{
    text-align: left;
    margin-left: 20px;
}
