#project{
    color: darkgray;
    text-align: center;
    height: 80vh;
}

#project .container{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 1, 20);
    gap: 20px;
    
}

.project{
    width: 300px;
    text-align: left;
}

.project-img{
    width: 300px;
    height: 300px;
}