header {
  color: aqua;
  width: 100%;
  background-color: brown;
  padding: 0px;
  margin: 0px;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.nav li {
  display: inline;
  width: 10%;
  height: 40px;
  padding: 10px;
}

.nav li:hover {
  transition: 0.4s;
  background-color: red;
}
