header {
  color: aliceblue;
  width: 100%;
  padding: 0px;
  margin-bottom: 20px;
  position: sticky;
  top: 0px;
  background-color:   rgb(1, 1, 20);

}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: right;
 
}

.nav li {
  display: inline;
  width: 10%;
  height: 40px;
  padding: 10px;
}

.nav li:hover {
  transition: 0.4s;
  background-color: rgb(36, 1, 1);
}
