.header {
  color: aliceblue;
  width: 100%;
  padding: 0px;
  margin-bottom: 20px;
  top: 0px;
  background-color: rgba(9, 0, 17, 0);
  

}
.header.active{
  position: sticky;
  background-color: rgba(9, 0, 17, 1);
  box-shadow: -1px 11px 24px -11px rgb(17, 0, 32);
  transition: 0.4s;
}



.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  justify-content: right;
 
}

.nav a {
  display: inline;
  width: 100px;
  background-color: #090011;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s;
}

.nav a:hover {
  transition: 0.4s;
  background-color: #270048;
}
